<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Booking Customers Page</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>


<h2>BOOKING DETAILS</h2>

<p>
    <input type="hidden" th:value="${movie.id}" name="id"/>
    <p th:text="'Movie name: ' + ${movie.name} "></p>
</p>

<h2>CUSTOMER DETAILS</h2>

<form action="booking" method="post">

    <p>Name:  <input type="text" name="customerName" /> </p>

    <p>Date: <input type="date" name="date"/> </p>

    <p>Movie time:
    <select th:each=" reservation :${reservations}">
        <option></option>
    </select>
    </p>

    <p>Seat:
        <select th:field="${seats.id}">
            <option th:each="seat : ${seats}" th:value="${seat.id}" th:text="${seat.space}" ></option>
        </select>
    </p>

    <p>
        <input type="submit" value="Book" class="btn btn-create"/>
    </p>


</form>

</body>
</html>