<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>Available movies</title>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Kino Cinema</li>
        <li class="back"><a href="index.html">Back</a></li>
    </ul>
</nav>
<div class="container">
    <h1> Movies being displayed in the cinema</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Age limit</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td> The nun</td>
            <td> Horrror</td>
            <td> 18 </td>
            <td><a class="button" href="booking.html">Book</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>