<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Available movies</title>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Kino Cinema</li>
        <li class="back"><a href="/">Back</a></li>
    </ul>
</nav>
<div class="container">
    <h1> Movies being displayed in the cinema</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Age limit</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}"> </td>
            <td th:text="${movie.genre}"> </td>
            <td th:text="${movie.ageLimit}"> </td>
            <td><a class="button" href="customers/booking">Book</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>