<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update a movie</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<nav>
    <ul>
        <li class="logo"> <img src="/KinoLogo.png" width="80" height="60"/></li>
        <li class="back"><a href="/">Logout</a></li>
        <li class="back"><a href="/employees/employees">Back</a></li>
    </ul>
</nav>


    <div class="container">
        <h1>Update</h1>
        <form  action = "/movies/updateMovieList" method="Post" >
            <input type="hidden" th:field="${movie.id}"/>
            <p>Name: <input type="text" th:field="${movie.name}"/></p>
            <p>Genre: <input type="text" th:field="${movie.genre}"/></p>
            <p>Age Limit: <input type="text" th:field="${movie.ageLimit}"/></p>


            <input type="submit" value="Update" class="button"/>
        </form>
    </div>




</body>
</html>