<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet.css">
     <title>Employee Schedule</title> 
     
</head>
 
<body> 
<nav> 
    <ul> 
        <li class="logo">Kino Cinema</li>
         
        <li class="back"><a href="/">Back</a></li>
         
    </ul>
     
</nav>
 
<table> 
    <tr> 
        <th>Monday</th>
         
        <th>Tuesday</th>
         
        <th>Wednesday</th>
         
        <th>Thursday</th>
         
        <th>Friday</th>
         
        <th>Saturday</th>
         
        <th>Sunday</th>
         
    </tr>
     
    <tr> 
        <td>08:00 - 16:00</td>
        <p>Name: <input type="text" name="name"/></p>
        <p>Name: <input type="text" name="name"/></p>

        <td>16:00 - 24:00</td>
        <p>Name: <input type="text" name="name"/></p>
        <p>Name: <input type="text" name="name"/></p>
    </tr>

</table>

<input type="submit" value="Add"/> 

</body>
  
</html>
