<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet.css">
     <title>Employee Schedule</title> 
     
</head>
 
<body> 
<nav> 
    <ul> 
        <li class="logo">Kino Cinema</li>
         
        <li class="back"><a href="/">Back</a></li>
         
    </ul>
     
</nav>
 
<table> 
    <tr> 
        <th>Monday</th>
         
        <th>Tuesday</th>
         
        <th>Wednesday</th>
         
        <th>Thursday</th>
         
        <th>Friday</th>
         
        <th>Saturday</th>
         
        <th>Sunday</th>
         
    </tr>
     
    <tr> 
        <td>Morning</td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
    </tr>
     
    <tr> 
        <td>Afternoon</td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
    </tr>
     
    <tr> 
        <td>Evening</td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
        <td> 
            <div class="dropdown"> 
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                 
                <div id="myDropdown" class="dropdown-content">  <a href="#">Employee1</a>  <a href="#">Employee2</a>  <a
                        href="#">Employee3</a>  <a href="#">Employee4</a> 
                </div>
                 
            </div>
             
        </td>
         
    </tr>
     
</table>
  
<script>      function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}  </script>
  
</body>
  
</html>
