<!DOCTYPE html>
<html lang="en">
<head>
    <title>Available movies</title>
    <link rel="stylesheet" href="/stylesheet.css">

</head>
<body>
<nav>
    <ul>
        <li class="logo">Kino Cinema</li>
        <li class="back"><a href="/">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1> Movies being displayed in the cinema</h1>
    <p><a class="button" href="/customers/snacks">See snacks</a></p>

    <a class="button" href="/movies/add">Add new movie </a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Age limit</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td> The nun</td>
            <td> Horrror</td>
            <td> 18 </td>
            <td><a class="button" href="../movies/updateMovieList.html">Update </a><a class="button button-delete" href=" ">Delete </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>