<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Employee Schedule</title>

</head>

<body>
<nav>
    <ul>

        <li class="logo"> <img src="/KinoLogo.png" width="80" height="60"/></li>
        <li class="navbutton"><a href="/employees/snacksList">Snacks</a></li>
        <li class="back"><a href="/employees/logout">Logout</a></li>

    </ul>
</nav>

<table>
    <thead>
    <tr>
        <th>Monday</th>

        <th>Tuesday</th>

        <th>Wednesday</th>

        <th>Thursday</th>

        <th>Friday</th>

        <th>Saturday</th>

        <th>Sunday</th>

    </tr>
    </thead>

    <tbody>
    <tr>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>

        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>
        <td>08:00 - 16:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>


            16:00 - 24:00
            <p>Name: <input type="text" name="name"/></p>
            <p>Name: <input type="text" name="name"/></p>
        </td>


    </tr>


    </tbody>

</table>

<div align="center">
    <input type="submit" value="Add" class="button"/>
</div>

</body>
</html>