<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>



<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>

<h2>Movie List</h2>

<!---TO DO : Link via thyme leaf, and database for ID movie-->

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Age</th>
        <th> </th>
        <th></th>
    </tr>
    <tr>
       <td> </td>
        <td>Avatar</td>
        <td>Fantasy</td>
        <td>13+</td>
        <td> <button> Update </button> </td>
        <td> <button> Delete </button> </td>
    </tr>
    <tr>
        <td> </td>
        <td>The Nun</td>
        <td>Horror</td>
        <td>16+</td>
        <td> <button> Update </button> </td>
        <td> <button> Delete </button> </td>
    </tr>
    <tr>
        <td> </td>
        <td>Tarzan</td>
        <td>Adventure</td>
        <td>6+</td>
        <td> <button> Update </button> </td>
        <td> <button> Delete </button> </td>
    </tr>
</table>

<td> <button> Add </button> </td>




</body>
</html>




</body>
</html>